.body_2{
    max-width: 75%;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.body_2 .body_product1{
    margin-bottom: 70px;
}
.body_product1 .product_review{
     display: flex;
     max-width: 1200px;
     margin: 0 auto;
     padding-left: 15px;
     padding-right: 15px;
}
.body_product1 .product_review .review_pic img{
    width: 85%;
}
.body_product1 .product_review .review_text{
    width: 60%;
}
.body_product1 .product_review .review_text h3{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 12px;
    color: #e0ac1c;
    margin-top: 28px;
}
.body_product1 .product_review .review_text h1{
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 0;
    font-weight: 700;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: unset;
    position: relative;
    margin-bottom: 25px;
    margin-top: 0;
}
.body_product1 .product_review .review_text h1::before{
    left:0;
    right: auto;
    position: absolute;
    content: "";
    width: 200px;
    height: 4px;
    background: #e0ac1c;
    bottom: 0;
    margin: 0 auto;
}
.body_product1 .product_review .review_text ul {
    margin-left: 10px;
    margin-right: 20px;
    
}
.body_product1 .product_review .review_text ul li{
    display: table;
    font-family: 'Sarabun', sans-serif;
    margin-bottom: 5px;
    font-size: 18px;
    margin-bottom: 15px;
}
ul li {
    /* Text color */
    color: black;
    list-style-type: none;
}

ul li:before {
    /* Unicode bullet symbol */
    content: '\2022 ';
    /* Bullet color */
    color: #e0ac1c;
    padding-right: 1em;
}
.showcart{
    /* display: block; */
    position: fixed;
    border-radius: 10px;
    right: 30px;
    top: 50px;
    margin-top: 4px;
    background-color: aliceblue;
    overflow:auto;
}
.showcart img {
    width: 100px;
    height: 80px;
  
}
    table{
    width:400px;
    height:200px;
    padding:20px;

    }
    th{
        border-top:1px solid gray;
        border-bottom: 1px solid gray;
        padding:10px;
    }
    td{
        border-bottom: 1px solid gray;
        padding:10px;
    }

footer {
     height: 300px; 
     bottom: 0;
}
.body_product1 .product_review .review_text .text1{
    margin-bottom: 15px;
    font-size: 15px;
    color:rgb(49, 49, 49);
}
.button{
    padding: 12px 25px;
    border-radius: 30px;
    cursor:pointer ;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font: inherit;
    text-decoration: none;
    border: 0;
    background-color:#e0ac1c;
}
.countsp {
    font-size: 1rem;
}
.button a{
    color:lightcyan;
    font-size: 15px;
    text-decoration: none;
}
.text input {
    width: 15%;
    margin-left: 90px;
    background-color: rgb(200, 200, 226);
    display: none;
}
.body_product1 .product_review .review_text .text1{
    margin-bottom: 15px;
    font-size: 15px;
    color:rgb(49, 49, 49);
}
.button{
    padding: 12px 25px;
    border-radius: 30px;
    cursor:pointer ;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font: inherit;
    text-decoration: none;
    border: 0;
    background-color:#e0ac1c;
}
.button a{
    color:lightcyan;
    font-size: 20px;
    text-decoration: none;
}
.body_product1 .product_review .review_text .button{
    margin: 0 420px;
    padding: auto;
}
.body_product .container .title1{
    margin: 0 auto;
    color:#e0ac1c;
    box-sizing: inherit;
    text-align: center;
    font-size: 20px;
    letter-spacing: 8px;
    font-weight: 500;
    margin-bottom: 12px;
    margin-top: 30px;
}
.awesomeF .title1{
    margin: 0 auto;
    color:#e0ac1c;
    box-sizing: inherit;
    text-align: center;
    font-size: 20px;
    letter-spacing: 8px;
    font-weight: 500;
    margin-bottom: 12px;
}

/* Body product one */
.body_product{
    padding: 30px 0;
}
.body_product .container .title {
    text-align: center;
    background: white;
    padding: 15px 0;
    margin: 0 auto;
    text-align: center;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: 0;
    font-weight: 700;
    color: #222;
    text-transform: unset;
    position: relative;
    margin-bottom: 25px;
    padding-bottom: 25px;
    margin-top: 0;
}
.body_product .container .title::before{
    left:0;
    right:0;
    position: absolute;
    content: "";
    width: 400px;
    height: 4px;
    background: #e0ac1c;
    bottom: 0;
    margin: 0 auto;
    
}

.body_product .container .title h3{
    text-transform: uppercase;
    font-weight:600;
    letter-spacing: 1px;
    text-align: center;
}
.awesomeF .title {
    text-align: center;
    background: white;
    padding: 15px 0;
    margin: 0 auto;
    text-align: center;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: 0;
    font-weight: 700;
    color: #222;
    text-transform: unset;
    position: relative;
    margin-bottom: 25px;
    padding-bottom: 25px;
    margin-top: 0;
}
.awesomeF .title::before{
    left:0;
    right:0;
    position: absolute;
    content: "";
    width: 200px;
    height: 4px;
    background: #e0ac1c;
    bottom: 0;
    margin: 0 auto;
    
}

.awesome .title h3{
    text-transform: uppercase;
    font-weight:600;
    letter-spacing: 1px;
    text-align: center;
}
.awesomeF .pic{
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.awesomeF .pic img{
    width: 25%;
}
.awesomeF a{
    text-align: right;
    text-decoration: none;
}
.awesomeF .button{
    margin: 30px 620px;
   
}
.body_product .container .show_product{
    margin: 30px 0px 10px 45px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.body_product .container .show_product .card {
    flex-basis: 20%;
    margin: 10px 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    box-shadow: -8px 9px 16px -9px rgba(10,9,10,0.62);

}
.body_product .container .show_product .card img{
    overflow: hidden;
}
.body_product .container .show_product .card img:hover{
    transform: scale(1.1);
}
.body_product .container .show_product .card .items{
    position: relative;
    display: block;
    padding: 20px;
    border-radius: 8px;
    background-color: rgb(252, 248, 248);
}
.body_product .container .show_product .card .items .image img{
    width: 100%;
}
.body_product .container .show_product .card .items .text {
    text-align: left;
    padding: 5px 0;
    margin-top: 15px;
}
.body_product .container .show_product .card .items .text h3{
    font-weight: 400;
    font-size: 15px;
    text-align: center;
}
/* .body_product .container .show_product .card .items .text .texts{
    
} */
.body_product .container .show_product .card .items .button {
      margin: 0px 85px;
      padding: auto;
}
.body_product .container .show_product .card .items .text p{
    font-weight: 500;
    margin: 5px 0;
    text-align: center;
    margin-top: 10px;
    font-size: 18px;
}
P{
    color: #FF0040;
}
.body_product .container .show_product .card .items .color{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.body_product .container .show_product .card .items .button a{
    display: inline-block;
    margin: 0 auto;
    padding: 0px 0px;
    color: rgb(8, 3, 3);
    border-radius: 20px;
    text-decoration: none;
    transition: 0.5s;
   
}
.customer-review{
    margin-top: 70px;
    background-color: bisque;
    background-size:cover ;
    border-radius: 8px;
}
.customer-review .page-width{
     padding-top: 60px;
     padding-bottom: 40px;
}

.customer-review-header .title1{
    margin: 0 auto;
    color:#b9701d;
    box-sizing: inherit;
    text-align: center;
    font-size: 20px;
    letter-spacing: 8px;
    font-weight: 500;
    margin-bottom: 10px;
}
.page-width .title {
    text-align: center;
    background: white;
    padding: 15px 0;
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 0;
    font-weight: 700;
    color: #222;
    text-transform: unset;
    position: relative;
    margin-bottom: 25px;
    padding-bottom: 25px;
    margin-top: 0;
    background-color: bisque;
}
.page-width .title::before{
    left:0;
    right:0;
    position: absolute;
    content: "";
    width: 200px;
    height: 4px;
    background: #e0ac1c;
    bottom: 0;
    margin: 0 auto;
    
}

.customer-review-header .title h3{
    text-transform: uppercase;
    font-weight:600;
    letter-spacing: 1px;
    text-align: center;
}
.content-1{
    display: flex;
    padding: 20px 15px;
}
.content-1-padding{
    margin-right: 20px;
    background-color: floralwhite;
    border-radius: 8px;
}
.user{
   text-align: center;
   font-size: 20px;
   margin-bottom: 20px;
   font-weight:bolder;
   margin-top: 20px;
}
.user-description{
    text-align:center;
    margin-bottom: 15px;
    padding: 0 15px;
    font-size: 15px;
}
.page-width .user-img{
    text-align: center;
    margin-bottom: 10px;
}
.page-width .user-name, .user-job{
    text-align: center;
    margin-bottom: 5px;
}
.user-name{
    font-weight:bolder;
    color: rgb(45, 18, 139);
    font-size: 15px;
}
.user-job{
    font-weight: 900;
    color: rgb(26, 177, 177);
    font-size: 14px;
}